include _helperBootstrapForm
extends layout

block content

    .row
        .col-sm-4.col-md-4.col-lg-4
            .panel.panel-default
                .panel-heading Edit user information
                .panel-body
                    form(action = '/editUser' method='post')
                        input(name='_csrf' value='#{csrfToken}' type='hidden')
                        +fromReadOnlyInput('User Name','username','Type your user name',currentUser.username)
                        +formInputText('First Name', 'firstname','Your first name',currentUser.firstname,false,false,false)
                        +formInputText('Last Name', 'lastname','Your last name',currentUser.lastname,false,false,false)
                        +formInputText('Email', 'email','Your email address',currentUser.email,false,false,false)
                        +formPanelEnd('Save Changes')
    p &#32;
    .row
        .col-sm-8
            .panel.panel-default
                .panel-heading
                    if family
                        .panel-title.pull-left
                        form(action='/configuration/family/' + family.id)
                            button.ui-button.ui-corner-all.ui-widget(type='submit') #{family.name} (Edit Family)
                        form(action='/configuration/person/new')
                            button.ui-button.ui-corner-all.ui-widget.pull-right(type='submit') Add Person
                    else
                        .panel-title.pull-left Please create your family
                        form(action='/configuration/family/new')
                            button.ui-button.ui-corner-all.ui-widget(type='submit') Create Family

                .panel-body
                    table.table.table-bordered
                        thead
                            tr
                                th.col-sm-2 First Name
                                th.col-sm-2 Role
                                th.col-sm-2 Email
                                th.col-sm-2 Actions

                        tbody
                            if family
                                if family.People.length > 0
                                    each person in family.People
                                        +tableRow(person)


mixin tableRow(userRecord)
    tr
        td(style='text-align: left;') #{userRecord.firstname}
        td(style='text-align: left;') #{userRecord.familyrole}
        td(style='text-align: left;') #{userRecord.email}
        td.pull-right
            form(action='/configuration/person/'+userRecord.id)
                button.btn.btn-info(type='submit') Edit
            form(action='/configuration/person/delete/'+userRecord.id method='get')
                button.btn.btn-danger(type='submit') Delete
