doctype html
include _navbar-top
html
    head
        //- The following is copied from the starter.html sample of AdminLTE
        meta( content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport")

        title= "The Family Schedule"

        //-Adding bootstrap Note: originally used npm, but it didn't seem to work. Used manual update instead
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/jquery_ui/jquery-ui.min.css')
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        //- Top Navbar
        +topnav('Schedule','TopNavbar')
        .container-fluid
            .row
                .col-sm-3.col-lg-2.my-side-menu
                    include _navSideMenu
                .col-sm-9.col-lg-10.container
                    each error in errors
                        div.alert.alert-danger(role='alert')
                            p #{error}
                    each info in infos
                        div.alert.alert-info(role='alert')
                            p #{info}
                    each warning in warnings
                        .alert.alert-warning(role='alert')
                            p #{warning}
                    each success in successes
                        .alert.alert-success(role='alert')
                            p #{success}
                    block content

        include _footer

        // Adding jQuery and JQuery UI
        script(src='/jquery_ui/jquery.js')
        script(src='/jquery_ui/jquery-ui.min.js')
        //- Bootstrap
        script(src='/bootstrap/js/bootstrap.min.js')

